<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is  home page</title>

</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
<img src="https://www.iaea.org/sites/default/files/styles/original_image_size/public/radiologicalcrimescenemanagement-demonstration-april2022.jpg?itok=idVjL-Wx"  width="550" height="435">

	<br><br><br>
	<h3><br>PES1UG20CS492-Veena,
	   PES1UG20CS538-Anupama,
	   PES1UG20CS547-Dheeraj</h3>
</div>
</section>

</body>
</html>